
body {
    background-color: #ffd0cb;
    color: #406ddb;
    font-family: "europa", "brandon-grotesque", helvetica, Arial, sans-serif;
}

.logo {
    font-family: "duos-paint",sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 61px;
}

 .selectionScreen, .playScreen, .gameOverScreen{
    display: none;
}

select {
    font-size: 43px;
    appearance: none;
    color: #ffd0cb;
    background-color: #406ddb;
    font-family: "europa", "brandon-grotesque", helvetica, Arial, sans-serif;
    width: auto;
    border: none;
}

.logoSplash {
    font-family: "duos-paint",sans-serif;
    font-weight: 900;
    font-style: normal;
    position: absolute;
    top: 30%;
    left: 33%;
    font-size: 193px;
}

.selectionScreen, .gameOverScreen {
    position: absolute;
    top: 19%;
    left: 10%;
    margin-left: auto;
    margin-right: auto;
    font-size: 43px;
}

.winsGameOver {
    position: absolute;
    top: 0px;
    left: 251px;
    background-color: #406ddb;
    border: 3px solid #ffd0cb;
    color: #ffd0cb;
    font-size: 82px;
    text-align: center;
    box-sizing: content-box;
    border-radius: 89px;
    margin-left: auto;
    margin-right: auto;
    width: 148px;
    height: 148px;
    line-height: 143px;
    box-shadow: -10px 10px 10px grey;
    z-index: 5;
}


.playButton, .playAgainButton {
    font-family: "duos-paint",sans-serif;
    font-weight: 900;
    font-style: normal;
    position: absolute;
    bottom: -20%;
    right: 36%;
    background-color: #406ddb;
    border: 3px solid #ffd0cb;
    color: #ffd0cb;
    font-size: 47px;
    text-align: center;
    border-radius: 40px;
    padding: 16px;
    width: 285px;
    height: 101px;
    z-index: 5;
}
.playAgainButton {
    font-family: "duos-paint",sans-serif;
    font-weight: 900;
    font-style: normal;
    position: absolute;
    bottom: 9%;
    right: 16%;
    background-color: #406ddb;
    border: 3px solid #ffd0cb;
    color: #ffd0cb;
    font-size: 54px;
    text-align: center;
    border-radius: 40px;
    padding: 16px;
    width: 389px;
    height: 121px;
    z-index: 5;
}

.section {
    padding: 10px;
    box-sizing: content-box;
    position: absolute;
    height: 400px;
    top: 94px;
    left: 84px;
    width: 600px;
    border: 3px solid #406ddb;
    z-index: 4;
    background-color: #ffd0cb;
}

.gameOverSection {
    padding: 10px;
    box-sizing: content-box;
    position: absolute;
    height: 400px;
    top: 27px;
    left: 84px;
    width: 600px;
    z-index: 4;
    background-color: #ffd0cb;
}
.wins {
    position: absolute;
    top: 10px;
    left: 687px;
    background-color: #406ddb;
    border: 3px solid #ffd0cb;
    color: #ffd0cb;
    font-size: 47px;
    text-align: center;
    box-sizing: content-box;
    border-radius: 89px;
    width: 145px;
    height: 145px;
    line-height: 142px;
    box-shadow: -10px 10px 10px grey;
    z-index: 5;
    margin-left: auto;
    margin-right: auto;
}

svg {
    position: absolute;
    top: -161px;
    left: 503px;
    width: 500px;
    height: 500px;
    z-index: 3;
}
.gameOverSVG {
    position: absolute;
    top: -165px;
    left: 76px;
    width: 500px;
    height: 500px;
    z-index: 3;
}



.questionNum {
    font-size: 40px;
}

.questionQ {
    font-size: 30px;
}

ul {
    list-style-type: none;
    font-size: 25px;
    
}

li {
    border: 1px solid #406ddb;
    margin-top: 10px;
    margin-left: -39px;
    margin-right: auto;
    padding-left: 20px;
    border-radius: 15px;
}

text { 
    font-size: 40px;
    font-family: "europa", "brandon-grotesque", helvetica, Arial, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 19px;
    fill: #406ddb;
  }

  .winText {
    font-size: 22px;
    font-family: "europa", "brandon-grotesque", helvetica, Arial, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 12px;
    fill: #406ddb;
  }

  @media only screen and (max-width:  937px) {
    svg {
        position: absolute;
        top: -36px;
        left: 116px;
        width: 170px;
        height: 170px;
        z-index: 3;
    }

    .wins {
        position: absolute;
        top: 11px;
        left: 166px;
        background-color: #406ddb;
        border: 3px solid #ffd0cb;
        color: #ffd0cb;
        font-size: 21px;
        text-align: center;
        box-sizing: content-box;
        border-radius: 89px;
        width: 66px;
        line-height: 67px;
        margin-left: auto;
        margin-right: auto;
        height: 66px;
        box-shadow: -10px 10px 10px grey;
        z-index: 5;
    }

    .winsGameOver {
        position: absolute;
        top: 0px;
        left: 251px;
        background-color: #406ddb;
        border: 3px solid #ffd0cb;
        color: #ffd0cb;
        font-size: 82px;
        text-align: center;
        box-sizing: content-box;
        border-radius: 89px;
        margin-left: auto;
        margin-right: auto;
        width: 148px;
        height: 148px;
        line-height: 143px;
        box-shadow: -10px 10px 10px grey;
        z-index: 5;
    }

    .selectionScreen, .gameOverScreen {
        position: absolute;
        top: 19%;
        left: 10%;
        margin-left: auto;
        margin-right: auto;
        font-size: 34px;
    }

    select {
        font-size: 34px;
        appearance: none;
        color: #ffd0cb;
        background-color: #406ddb;
        font-family: "europa", "brandon-grotesque", helvetica, Arial, sans-serif;
        width: auto;
        border: none;
    }

    .logoSplash {
        font-family: "duos-paint",sans-serif;
        font-weight: 900;
        font-style: normal;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        top: 26%;
        left: 27%;
        font-size: 193px;
    }

  }

